// imports
//   font-family: "Leckerli One", cursive;
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Baskervville+SC&family=Gamja+Flower&family=Leckerli+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variables
$bg-clr: #ffc6c6;
$bg-secondary-clr: #e3adad;
$main-clr: #5f894f;
$secondary-clr: #4f7042;
$third-clr: #a966b2;
$fourth-clr: #7e4c85;
$fith-clr: rgb(213, 101, 101);
$sixth-clr: rgb(179, 83, 83);
$text-clr: rgba(255, 255, 255, 0.942);
$screen-clr: #efe9ee;



@mixin flex(
  $display: flex, 
  $justify: center, 
  $align: center
  ){
  display: flex;
  flex-direction: $display;
  justify-content: $justify;
  align-items: $align;
};

@mixin grid($column, $gap: 0px){
  display: grid;
  grid-template-columns: $column;
  gap: $gap;
}